@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #444;
    --primary: #eee;
    --secondary: #222;
    --accent: #86efac;
    --muted: #888;
  }

  body {
    @apply bg-background text-primary antialiased selection:bg-green-500 selection:text-white text-sm text-shadow shadow-black;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
